.button_glass {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.button_glass:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.buttons {
    padding: 10px;
    margin: 0 5px;
}